<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head.ejs',{title:'Online Shop Admin | Orders'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main>
        <div>
            <h2 class="heading2"> Administration</h2>
            <h3>Orders Manege</h3>
        </div>
        <div>
        </div>
    </main>
</body>
</html>