<header>
    <div><a href="/">Online Shop</a></div>
    <nav>
        <ul>
            <li><a href="/">Products</a></li>
            <li><a href="/my-orders">My Orders</a></li>
            <li><a href="/shopping-cart">cart </a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    
</header>

<!-- <style>
    header {
        position: fixed;
        top: 0;
        width: full;
    }

    .container {
        display: flex;
        justify-content: space-between;
        max-width: ;
    }

    header nav ul li {
        display: inline-block;
    }
</style> -->