<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head.ejs',{title:'error 500'}) %> 
<body>
    <%- include('shared/header.ejs') %> 
    <main>
        <h2>Something is wrong</h2>
        <p> unfortunately, Something is Wrong please try again later..</p>
        <a href="/" class="btn"> Back to home</a>
    </main>
</body>
</html>

<style>
a{
    text-decoration: none;
    color: inherit;
}
main{
    text-align: center;
}


</style>