<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head.ejs',{title:'Online Shop | Login'}) %> 
<body>
    <%- include('shared/header.ejs') %> 
    <main>
        <form id="login-form" action="" method="POST">
            <h2>Login</h2>
            <div id="form-item">
                <label for="email">Email</label>
                <input id="email" type="email" name="email" required>
            </div>
            <div id="form-item">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" required>
            </div>
            <div id="form-item">
                <button class="btn">Login</button>
            </div>
        </form>
    </main>
</body>
</html>

<style>
#login-form{
    margin: 6.5rem auto;
    max-width: 40%;
    color: black;
    background-color: white;
    padding:1rem 3rem ;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(160, 160, 160);
}
#form-item{
    padding: 3%  0;
}
#form-item label{
    display: block;
    font-size: 17px;
}
#form-item input{
    margin-top: 0.4rem;
    width: 97%;
    height: 2.2rem;
    border-radius: 8px;
    font-size: 20px;
    padding: 1px 8px;
    border: none;
    background-color: rgb(230, 230, 230);
    transition:400ms;
}
#form-item input:focus{
    outline: none;
    box-shadow: 1px 1px 8px rgb(160, 160, 160);
    background-color: rgb(255, 255, 255); 
}
</style>