<!DOCTYPE html>
<html lang="en">
    <%- include('shared/head.ejs',{title:'Online Shop | Product Details'}) %> 
<body>
    <%- include('shared/header.ejs') %> 
    <main>
        <h2>Product Details</h2>
    </main>
</body>
</html>