<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head.ejs',{title:'Online Shop | Product Details'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main>
        <h2 class="heading2">Product Details</h2>
        <section id="product-detail">
            <div>
                <img src="" alt="">
            </div>
        </section>
    </main>
</body>
</html>