main .heading2{
    padding: 1rem 0;
}
.btn {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0;
    color:white;
    background-color: #00ce67;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 300ms;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 1px 1px 4px rgb(160, 160, 160);
}
#errorMessage{
    padding: 0.5rem;
    margin: 0 auto;
    background-color: rgb(252, 177, 177);
    color: rgb(126, 0, 0);
    border-radius: 5px;
    max-width: fit-content;
    text-transform: uppercase;
}
.product-section{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
}
#product-item{
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(160, 160, 160);
}
#product-item img{
    width: 100%;  
    height: 12rem;
    object-fit: fill; 
}
#product-item div{
    padding: 0.5rem;
}
#product-item  h3{
    margin: 0;
    font-size: 1.5rem;
}
#preview-image{
    display: none;
    width: 12rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 0.5rem;
}
@media (max-width: 74rem) {
    .product-section{ 
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media (max-width: 50rem) {
    .product-section{
        grid-template-columns: 1fr  ;
    }
}